* {
	margin: 0;
	padding: 0;
}

/* 计算房屋价格 */
#calc_fur {
	cursor: pointer;
	width: 202px;
	height: 52px;
	border: 1px solid #CCC;
	margin-left: 18px;
	color: red;
	position: relative;
}

#calc_fur span {
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 52px;
	text-align: center;
	font-size: 44px;
}

/* 画布遮盖价格 */
canvas {
	position: absolute;
	left: 0;
	top: 0;
}
