    * {
        padding: 0;
        margin: 0;
    }
    
    ul,
    ol,
    li {
        list-style: none;
    }
    
    .w {
        width: 960px;
        margin: 0 auto;
    }
    
    .fl {
        float: left;
    }
    
    .fr {
        float: right;
    }
    
    .clearfix:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    
    .clearfix {
        *zoom: 1;
    }
    /* IE6 ,7 专有 */
    
    a {
        text-decoration: none;
    }
    
    body {
        background-color: #EFEFEF;
        height: 2000px;
    }
    
    .style_orange {
        color: #ff6633!important;
    }
    
    a:hover {
        color: #ff6633!important;
    }
    /* 顶部区域 */
    
    .top {
        height: 37px;
        background-color: #fff;
        border-bottom: 1px solid #ccc;
    }
    
    .xctop {
        position: relative;
    }
    
    .nav>li {
        float: left;
        position: relative;
    }
    
    .nav>li>a {
        display: inline-block;
        line-height: 37px;
        font-size: 12px;
        color: #333;
        padding: 0 17px;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        box-sizing: border-box;
    }
    
    .nav>li>a[class=current]:hover {
        line-height: 36px;
    }
    
    .nav>li>a[class=current]:hover .i_arrow {
        width: 10px;
        height: 10px;
        margin-left: 6px;
        background: url(../img/icon2.png) no-repeat;
        background-size: 10px 10px
    }
    
    .nav .spacer {
        color: #c7c7c7;
        line-height: 37px;
    }
    /* 下拉菜单 */
    
    .current {
        background-color: #fff;
        border-left: 1px solid #e1e1e1!important;
        border-right: 1px solid #e1e1e1!important;
    }
    
    .down_menu {
        display: none;
        position: absolute;
        left: 0;
        top: 37px;
        width: 98px;
        background-color: #fff;
        border: 1px solid #e1e1e1;
        border-top: none;
        z-index: 100;
    }
    
    .canying {
        width: 120px;
    }
    /* 超级大菜单 */
    
    .last_item-s {
        position: relative;
    }
    
    .big_menu {
        display: none;
        position: absolute;
        left: -860px;
        top: 37px;
        width: 960px;
        height: 373px;
        border: 1px solid #e1e1e1;
        border-top: none;
        box-sizing: border-box;
        background-color: #fff;
        z-index: 200;
    }
    
    .maplist {
        margin: 15px 0;
    }
    
    .maplist li {
        float: left;
        width: 33%;
        border-right: 1px solid #eee;
        box-sizing: border-box;
        padding: 0 30px;
        min-height: 340px;
    }
    
    .maplist li:last-child {
        border-right: none;
    }
    
    .list_title {
        color: #c7c7c7;
        font-size: 13px;
        display: inline-block;
        line-height: 28px;
    }
    
    .list_container a {
        color: #555;
        font-size: 12px;
        line-height: 25px;
    }
    
    .list_item-s span {
        padding: 0 6px;
        color: #c7c7c7;
    }
    
    .app_title {
        font-size: 14px;
        padding-left: 15px;
    }
    
    .app_container {
        float: left;
        width: 70px;
        text-align: center;
        padding: 15px 10px;
    }
    
    .list_pic a {
        color: #c7c7c7;
        font-size: 12px;
    }
    
    .list_pic span {
        color: #c7c7c7;
        font-size: 10px;
    }
    
    .app_icon {
        display: inline-block;
        width: 60px;
        height: 60px;
    }
    
    .dp_app {
        background: url(../img/dp-app.png) no-repeat;
        background-size: auto 60px;
    }
    
    .gj_app {
        background: url(../img/dpgj-app.png) no-repeat;
        background-size: auto 60px;
    }
    
    .qrcode_container:first-child {
        padding-left: 0;
    }
    
    .qrcode_container {
        float: left;
        text-align: center;
        padding: 20px 0 20px 25px;
        width: 100px;
    }
    
    .qrcode_icon {
        padding: 5px 10px;
        display: block;
        height: 100px;
        width: 100px;
        box-sizing: border-box;
    }
    
    .wx_qrcode {
        background: url(../img/wx-qrcode.png) center no-repeat;
        background-size: 100px 100px;
    }
    
    .qq_qrcode {
        background: url(../img/qq-qrcode.png) center no-repeat;
        background-size: 100px 100px;
    }
    
    .down_menu li {
        height: 30px;
        line-height: 30px;
    }
    
    .down_menu li:hover {
        background-color: #f6f6f6!important;
    }
    
    .down_menu li a {
        display: inline-block;
        width: 100%;
        height: 30px;
        font-size: 12px;
        color: #333;
        padding-left: 17px;
        box-sizing: border-box;
    }
    
    .register {
        padding-left: 0!important;
    }
    
    .icon {
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        float: none
    }
    
    .i_arrow {
        width: 10px;
        height: 10px;
        margin-left: 6px;
        background: url(../img/icon1.png) no-repeat;
        background-size: 10px 10px
    }
    /* logo区域 */
    
    .logo_container {
        width: 100%;
        min-width: 960px;
        padding: 20px 0 5px;
        font-size: 12px;
        background-color: rgba(255, 255, 255, 0.8);
    }
    
    .logo_content {
        position: relative;
        margin-bottom: 40px;
    }
    
    .logo {
        float: left;
        width: 165px;
        height: 48px;
        background: url(../img/logo.png) no-repeat;
        background-size: 165px auto;
    }
    
    .city {
        position: relative;
        float: left;
        width: 140px;
        height: 42px;
        font-size: 12px;
        line-height: 42px;
        padding: 0 10px;
        margin: 0 0 0 25px;
        text-decoration: none;
        z-index: 11;
        cursor: pointer;
        vertical-align: middle;
    }
    
    .city:hover .cs {
        color: rgba(0, 0, 0, 1);
    }
    /* 城市  边框线隐藏 */
    
    .city_current {
        border: 1px solid #e3e3e3;
        border-bottom: none;
        cursor: pointer;
    }
    
    .logo_content {
        position: relative;
    }
    
    .city::before {
        content: "|";
        position: absolute;
        left: -10px;
        color: #e1e1e1
    }
    
    .city .map_icon {
        display: inline-block;
        position: relative;
        width: 71px;
        height: 34px;
        vertical-align: middle;
        background: url(../lhj_img/global.png) no-repeat;
        background-position: -5px -392px;
        top: -1px;
    }
    /* 引入字体图标 */
    
    @font-face {
        /*电脑中没有的字体, 我们需要声明*/
        font-family: 'icomoon';
        src: url('../lhj_fonts/icomoon.eot?7kkyc2');
        src: url('../lhj_fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'), url('../lhj_fonts/icomoon.ttf?7kkyc2') format('truetype'), url('../lhj_fonts/icomoon.woff?7kkyc2') format('woff'), url('../lhj_fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
    .icon_city,
    .icon_current {
        font-family: "icomoon";
        font-style: normal;
        font-size: 15px;
    }
    
    .icon_city::before {
        content: "\ea52";
    }
    
    .icon_current::before {
        content: "\ea53";
        vertical-align: middle;
    }
    /* input输入框 */
    
    .search_box {
        float: left;
    }
    
    .search-bar {
        float: left;
        margin-top: 5px;
        height: 32px;
        max-width: 800px;
    }
    
    .search-container {
        position: relative;
    }
    
    .search-container span {
        float: left;
        box-sizing: border-box;
    }
    
    .i-search {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(../img/search.png) no-repeat;
        position: absolute;
        left: -513px;
        top: 10px;
    }
    
    .search-container input {
        width: 330px;
        height: 20px;
        padding: 9px;
        border: 2px solid#f63;
        text-indent: 5px;
        outline: 0;
        font: 14px/1.5 arial, sans-serif;
    }
    
    .search-btn {
        display: inline-block;
        padding: 10px;
        height: 22px;
        line-height: 22px;
        width: 79px;
        background-color: #f63;
        cursor: pointer;
        text-align: center;
        color: #fff;
        font-size: 16px;
    }
    
    .search-btn:hover {
        color: #fff!important;
    }
    
    .search-bnt-panel:hover {
        opacity: 0.85;
    }
    
    .hot-search {
        margin-top: 4px;
        font-size: 12px;
        margin-left: 5px;
        width: 600px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    .hot-search-tips {
        color: #ccc;
    }
    
    .search-word {
        padding-left: 15px;
        color: #999;
    }
    /* 产品分类 */
    
    .cate-container .nav-header {
        width: 100%;
        min-width: 960px;
        height: 35px;
        background: rgba(255, 255, 255, 1);
    }
    
    .navbar {
        height: 35px;
        line-height: 35px;
        margin: 0 auto;
        width: 960px;
    }
    
    .navbar .all-cate {
        display: inline-block;
        box-sizing: border-box;
        width: 210px;
        color: #fff;
        background-color: #707e8a;
        padding-left: 15px;
        font-size: 16px;
        margin-left: 0;
    }
    
    .navbar .cate-item-s {
        font-size: 16px;
    }
    
    .hot-icon {
        display: inline-block;
        background: url(../img/hot.png) no-repeat;
        background-size: 20px auto;
    }
    
    .cate-container .hot-icon,
    .cate-container .new-icon {
        height: 15px;
        width: 20px;
        max-height: 15px;
        max-width: 20px;
        top: 0;
        position: relative;
    }
    
    .cate-container a {
        text-decoration: none;
        display: inline-block;
        color: #fff;
        font-size: 12px;
        position: relative;
    }
    
    .dropdown .dd {
        display: none;
        background: #383131;
        padding: 4px 0;
        position: absolute;
        z-index: 60000;
    }
    
    .menu-item-s {
        width: 210px;
        height: 32px;
        line-height: 32px;
        padding-left: 15px;
        box-sizing: border-box;
        transition: all 0.4s;
    }
    /* 鼠标经过li出现阴影效果*/
    
    .menu-item-s:hover {
        background-color: #605a5a;
        padding-left: 20px;
    }
    
    .menu-item-s a {
        color: #ccc;
        font-size: 12px;
    }
    
    .menu-item-s a:first-child {
        color: #fff;
        font-size: 15px;
    }
    /* 菜单右侧选项卡 */
    
    .sec-cate {
        display: none;
        position: absolute;
        z-index: 888;
        left: 210px;
        top: -2px;
        background: #fff;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .3);
        border: 2px solid #f63;
        border-left-color: rgb(255, 102, 51);
        border-left-style: solid;
        border-left-width: 2px;
        border-left: none;
        overflow: hidden;
        height: 518px;
        transition: all 0.4s;
    }
    /* 右侧选项卡显示 */
    /* .menu-item-s:hover .sec-cate{
    width: 397px;
} */
    
    .sec-cate .groups {
        float: left;
        padding-bottom: 10px;
        margin: 0 34px;
        max-height: 498px;
        overflow: hidden;
    }
    
    .sec-cate .groups .group {
        line-height: 30px;
    }
    
    .sec-title {
        margin-bottom: 10px;
        border-bottom: 1px solid #eee;
        position: relative;
        min-width: 327px;
    }
    
    .channel-title {
        margin-top: 15px;
        display: inline-block;
        font-size: 15px;
        line-height: 35px;
    }
    
    .sec-title .more_cate {
        position: absolute;
        right: 0;
        bottom: 2px;
        height: 25px;
        line-height: 25px;
    }
    
    .sec-title a {
        color: #333;
    }
    
    .icon-right {
        font-family: "icomoon";
        font-style: normal;
    }
    
    .icon-right::before {
        content: '\ea50';
    }
    
    .sec-cate .groups .group .second-item-s {
        display: inline-block;
        line-height: 20px;
        width: 113px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 23px;
        color: #777;
        font-size: 12px;
        box-sizing: border-box;
    }
    
    .sec-cate .groups .group .second-item-s:nth-child(3n) {
        display: inline-block;
        line-height: 20px;
        width: 90px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 23px;
        color: #777;
        font-size: 12px;
        box-sizing: border-box;
    }
    
    .lhj-tuangou-nav {
        float: left;
        width: 730px;
        height: 35px;
        line-height: 35px;
        margin-left: 20px;
        background-color: #ff8400;
        box-sizing: border-box;
        overflow: hidden;
    }
    
    .lhj-tuangou-nav li {
        float: left;
        padding: 0 25px;
    }
    
    .lhj-tuangou-nav li a {
        text-align: center;
    }
    
    .lhj-tuangou-nav li a:hover {
        color: #fff!important;
    }
    
    .sup {
        background-color: #E95A00;
    }