/* 初始化 */
* {
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
}

.fl {
	float: left;
}

body {
	color: #333333;
	background: transparent;
	/* font: 12px/1.5 Arial, sans-serif; */
}

a {
	color: #333333;
}
/* 内容 */
#content {
	/* z-index: -1; */
	/* width: 1528px; */
	width: 1190px;
	margin: 0 auto;
}

/* 面包屑导航 */
.bread_nav {
	width: 1190px;
	height: 37px;
	line-height: 37px;
	/* padding-top: 15px; */
	font-size: 16px;
	padding-left: 24px;
	background-color: rgba(255, 255, 255, 0.7);
	/* margin-left: 169px; */
	box-sizing: border-box;
	font-size: 14px;
	/* background-color: lightpink; */
}
.dropdown .dd {
	display: none;
}

.bread_nav a {
	color: #333;
}

.bread_nav a:hover {
	color: #FF8400;
}

.bread_nav .path {
	width: 6px;
	height: 10px;
	margin: 0 20px 0 8px;
}

/* 筛选导航 */
.filter {
	width: 1190px;
	height: 170px;
	/* background-color: lightskyblue; */
	background-color: rgba(209, 186, 186, 0.6);
	margin: 0 410px 0 0;
}
.filter li {
	font-size: 16px;
}
/* 筛选栏样式 */
.filter ul li {
	color: #000000;
	margin-left: 32px;
	font-size: 14px;
}
.filter ul li a {
	color: #000000;
	font-size: 13px;
}

/* 上部筛选导航 */
.filter .top_row {
	width: 876px;
	height: 101px;
	padding: 13px 0 7px 0;
	/* background-color: lightyellow; */
	font-size: 14px;
}

/* 上部分栏1 */
.filter .top_row .one_row {
	height: 56px;
	line-height: 56px;
	/* border: 1px solid red; */
	font-size: 14px;
}

/* 上部分栏2 */
.filter .top_row .two_row {
	margin-top: 5px;
	padding: 12px 0 0 63px;
	border-top: 1px dashed #ebebeb;
}

/* 下部筛选导航 */
.filter .bottom_row {
	width: 876px;
	height: 28px;
	border-top: 1px dashed #ebebeb;
	padding: 13px 0 7px 0;
	/* background-color: lightsalmon; */
	font-size: 14px;
}

/* 默认筛选 */

.acquiesce_filter {
	width: 1190px;
	height: 42px;
	/* padding: 0 25px 0 10px; */
	margin: 14px 410px 14px 0;
	border: 1px solid #e1e1e1;
	/* background-color: #8181F7; */
	background-color: #FFFFFF;
	line-height: 42px;
	font-size: 13px;
	box-sizing: border-box;
}

.acquiesce_filter ul li {
	margin-left: 28px;
}

.acquiesce_filter a {
	color: #000000;
}

/* 右边默认筛选 */
.acquiesce_filter_right {
	width: 200px;
	margin-right: 45px;
}

/* 商户展示 */
#content .shop_list {
	width: 946px;
	height: 2900px;
	/* margin-left: 4px; */
}

/* 单个商户项目 */
#content .shop_list .shop_list_item {
	width: 1190px;
	height: 182px;
	margin-bottom: 10px;
	margin: 0 410px 10px 0;
	border: 1px solid #FFFFFF;
	background-color: rgba(255, 255, 255, 0.7);
	box-sizing: border-box;
}

#content .shop_list .shop_list_item:hover {
	cursor: pointer;
	border-color: #FD9937;
}

/* 商户图片 */
.shop_list .shop_pic img {
	width: 180px;
	height: 180px;
}

/* 商户信息 */
.shop_list .shop_list_item .shop_info {
	width: 700px;
	height: 71px;
	/* background-color: lightpink; */
	padding-top: 10px;
}

.shop_list_item .shop_info .shop_main {
	width: 680px;
	height: 71px;
	margin: 0 0 15px 20px;
	/* background-color: lightskyblue; */
}

/* 标题 */
.shop_list_item .shop_info .shop_main .shop_title {
	width: 680px;
	height: 22px;
	line-height: 22px;
	margin-bottom: 8px;
}

/* 内容 */
.shop_info_text ul li {
	margin-right: 23px;
}


/* 页码 */
.pages {
	width: 1190px;
	height: 58px;
	margin: 0 410px 0 0;
	/* line-height: 58px; */
	/* background-color: pink; */
}

.pages ul li {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin: 12px 0 0 5px;
	background-color: #FFFFFF;
}

/* 添加商户 */
.add-shop {
	width: 1190px;
	height: 80px;
	padding: 13px 20px;
	font-size: 14px;
	/* background-color: lightyellow; */
	line-height: 50px;
	background-color: #FFFFFF;
	margin-bottom: 10px!important;
	box-sizing: border-box;
}

.zsy_w {
	/* margin: 0 410px 0 169px; */
}

.result-survey .btn {
	width: 78px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #EBEBEB;
	margin-top: 10px;
}

.result-survey .btn:hover {
	cursor: pointer;
	color: #FC8111;
}

/* 底部 */
#footer {
	width: 1528px;
	height: 45px;
	padding: 30px 0;
	background-color: #F0F0F0;
}
/* 外站 */
#footer .links {
	width: 1528px;
	margin-bottom: 10px;
	text-align: center;
}

#footer .links a {
	color: #8C8C8C;
	display: inline-block;
	margin-left: 18px;
}
/* 版权 */
#footer .copyright {
	color: #8C8C8C;
	font-size: 12px;
	text-align: center;
}	

/* 抽奖模块 */
#prize_btn {
	width: 80px;
	height: 80px;
	position: fixed;
	right: 200px;
	top: 180px;
}

#prize_btn img {
	width: 100%;
	height: 100%;
}

/* 回顶部火箭样式 */
#btn-top {
	display: none;
	cursor: pointer;
	z-index: 9999;
	position: fixed;
	right: 50px;
	bottom: 10px;
	width: 65px;
	height: 120px;
	background-color: #000;
}

#btn-top img {
	width: 100%;
	height: 100%;
}

/* 抽奖样式 */
.htmleaf-container {
	display: none;
	position: fixed;
	border: #ebebeb solid 1px;
	left: 50%;
	top: 50%;
	box-shadow: 0px 0px 20px #ddd;
	z-index: 9999;
	transform: translate(-50%, -50%);
}

/* 启动抽奖时的遮盖层 */
#bg_chou {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, .5);
	z-index: 888;
}

/* 退下吧动态图 */
#back_down {
	z-index: 999;
	display: none;
	cursor: pointer;
	position: fixed;
	right: 0;
	bottom: 0;
}

/* 选择房屋信息样式 */
#house_info {
	display: none;
	font-size: 18px;
}

#house_info #form-container {
	width: 475px;
	padding-left: 48px;
}

#house_info .address{
	width: 140px;
	height: 37px;
}

#house_info .zxlx {
	border: 1px solid #999999;
	width: 142px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #FFFFFF;
	background-color: #FC8211;
}

/* 待完善提示 */
#tips {
	font-size: 18px;
	color: #FB9819;
	position: absolute;
	right: 66px;
	top: 415px;
}
/* 网站底部 */
.footer-container {
    width: 100%;
    min-width: 1190px;
    background: #f6f6f6;
    font-size: 12px;
    margin-top: 20px;
}
.channel-footer {
    width: 1190px;
    margin: 10px auto 0;
    padding: 30px 0;
}
.channel-footer .links {
    color:  #ebebeb;
    margin-bottom: 10px;
}
.channel-footer .links a {
    margin: 0 7px;
}
.channel-footer .links a, 
.channel-footer .rights a {
    color:#8c8c8c;
}
.channel-footer .link-items a, 
.channel-footer .links, 
.channel-footer .rights {
    text-align: center;
    font-size: 12px;
    color: #8c8c8c;
}
#shape{

	background: url("../img/rocket.png") no-repeat scroll 0 0  transparent;
	display: block;
	height: 250px;
	width: 149px;
	overflow: hidden;
	border-color: red;
	position: fixed;
	margin:-125px 0 0;
	right: 0;
	top:80%;
	z-index: 12;
}
#shape .shapeColor{
	background: url("../img/rocket.png") no-repeat scroll -149px 0;
	display:none; 
    height:250px;
    width: 149px;
    z-index:11;
    overflow: hidden;
    position: absolute;
}

#shape .shapeColor .shapeFly{
	background: url("../img/rocketFly.gif") no-repeat;
	display:none; 
    height:250px;
    width: 149px;
    z-index:10;
    overflow: hidden;
    position: absolute;
}